.mission-section {
  margin-top: 200px;
  padding: 0 20px;
  text-align: center;
}


.mission-badge {
  display: inline-block;
  padding: 8px 18px;
  background-color: #E3F8EC;
  color: #228353;
  border-radius: 25px;
  font-weight: 600;
  margin-bottom: 40px;
}

.mission-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.mission-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.mission-title {
  text-align: left;
  font-size: 34px;
  font-weight: 700;
  line-height: 1.15;
  color: #0F1724;
  margin: 0;
}

.mission-description {
  text-align: left;
  font-size: 16px;
  line-height: 1.6;
  color: #4b5563;
  font-weight: 300;
  max-width: 520px;
  margin: 0;
}

.bold-text {
  font-weight: 600;
}

.mission-right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mission-image {
  height: 320px;
  max-width: 100%;
  object-fit: contain;
}

@media (max-width: 900px) {
  .mission-section {
    margin-top: 140px;
    margin-bottom: 60px;
  }

  .mission-container {
    flex-direction: column;
    gap: 30px;
    text-align: center;
  }

  .mission-left {
    align-items: center;
    text-align: center;
  }

  .mission-description,
  .mission-title {
    max-width: 90%;
  }

  .mission-image {
    height: 260px;
  }
}
