.header {
  background-color: #ffffff;
  color: #0F172A;
  padding: 0 32px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;

  border-bottom: 1px solid rgba(0, 0, 0, 0.06);
  z-index: 1000;
}

.header .logo {
  height: 75px;
  margin-top: 2px;
}

.middle-section {
  display: flex;
  gap: 32px;
  font-weight: 600;
  margin-right: 34px;
  margin-top: 6px;
}

.middle-section a {
  text-decoration: none;
  color: #0F172A;
  font-size: 16px;
  padding: 6px 0;
  position: relative;
  transition: color .25s ease;
}

.middle-section a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 0%;
  height: 2px;
  background-color: #22A15A;
  transition: width .25s ease;
}

.middle-section a:hover::after {
  width: 100%;
}

.middle-section a:hover {
  color: #22A15A;
}

/* RIGHT SECTION */
.right-section {
  display: flex;
  gap: 12px;
  margin-top: 4px;
}

.btn {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  border: none;
  border-radius: 8px;
  padding: 10px 18px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.25s ease;
}

.btn-green {
  background-color: #2FAF6E;
  color: white;
}

.btn-green:hover {
  background-color: #228353;
  transform: translateY(-2px);
  box-shadow: 0 3px 6px rgba(0,0,0,0.15);
}

.btn-blue {
  background-color: #2563EB;
  color: white;
}

.btn-blue:hover {
  background-color: #1E3FAF;
  transform: translateY(-2px);
  box-shadow: 0 3px 6px rgba(0,0,0,0.15);
}

.burger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
  width: 30px;
}

.burger span {
  height: 3px;
  width: 100%;
  background: #0F172A;
  transition: 0.3s;
  border-radius: 3px;
}

.burger.open span:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.burger.open span:nth-child(2) {
  opacity: 0;
}

.burger.open span:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.mobile-menu {
  position: fixed;
  top: 80px;
  right: -325px;
  width: 260px;
  height: calc(100vh - 80px);
  background: #ffffff;
  box-shadow: -2px 0 8px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 32px;
  transition: right 0.3s ease;
  z-index: 1500;
}

.mobile-menu.show {
  right: 0;
}

.mobile-menu a {
  text-decoration: none;
  color: #0F172A;
  font-size: 18px;
  font-weight: 600;
}

.mobile-menu .btn {
  width: 100%;
  margin-top: 8px;
}

@media (max-width: 1200px) {
  .middle-section,
  .right-section {
    display: none;
  }

  .burger {
    display: flex;
  }
}