.header {
  background: linear-gradient(#1B263B, #0F1A2B);
  color: white;
  padding-left: 15px;
  padding-right: 15px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
}

.header .left-section {
  width: 208px;
}

.header .right-section {
  width: 180px;
  flex-shrink: 0;
  display: flex;
  justify-content: end;
}

.header .logo {
  height: 28px;
  margin-top: 1px;
}

.header .middle-section {
  flex: 1;
  justify-content: center;
  display: flex;
  gap: 20px;
  font-weight: 600;
}

.header .middle-section p {
  font-size: 16px;
  position: relative;
  margin: 0;
  cursor: pointer;
  transition: color 0.3s ease;
  color: white;
  padding-top: 4px;
  padding-bottom: 4px;
  white-space: nowrap;
}

.header .middle-section p::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0%;
  height: 2px;
  background-color: #2FAF6E;
  transition: width 0.3s ease, bottom 0.3s ease;
}

.header .middle-section p:hover::after {
  width: 100%;
  bottom: -2px;
}

.header .right-section {
  flex-shrink: 0;
}

.btn {
  font-family: Roboto;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  padding: 10px 18px;
  margin-left: 10px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

.header .btn-green {
  background-color: #2FAF6E;
  color: white;
}

.header .btn-green:hover {
  background-color: #228353;
  transform: translateY(-2px);
  box-shadow: 0 3px 6px rgba(0,0,0,0.2);
}

.header .btn-green:active {
  transform: translateY(0);
  box-shadow: none;
}

.header .btn-blue {
  color: white;
  background-color: #3A8DFF;
}

.header .btn-blue:hover {
  background-color: #1E6FE3;
  transform: translateY(-2px);
  box-shadow: 0 3px 6px rgba(0,0,0,0.2);
}

.header .btn-blue:active {
  transform: translateY(0);
  box-shadow: none;
}

/* Tablet */
@media (max-width: 1024px) {

  .header {
    padding-right: 8px;
    padding-left: 8px;
  }

  .header .left-section {
    width: unset;
  }

  .header .logo {
    height: 22px;
    margin-top: 1px;
  }

  .header .middle-section p {
    font-size: 14px;
  }

  .btn {
    padding: 8px 14px;
    margin-left: 8px;
  }
}

/* Phones */
@media (max-width: 700px) {
  .header .logo {
    height: 16px;
    margin-top: 1px;
  }

  .header .middle-section p {
    font-size: 11px;
  }

  .btn {
    padding: 4px 8px;
    margin-left: 6px;
  }
}